html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #cc5333;
	scroll-behavior: smooth;
}

@font-face {
	font-family: po;
	src: url("fonts/PixelOperator.ttf");
}

@font-face {
	font-family: os;
	src: url("fonts/officesq.otf");
}

@font-face {
	font-family: s;
	src: url("fonts/slkscr.ttf");
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cc5333; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cc5333; 
}

a, i {
	text-decoration: none;
}

.container span {
	color: #f9c80e;
	font-family: s;
	font-size: 2em;
	text-shadow: -2px 2px #fd1d53;
}

#landingpage {
	height: 100%;
	width: 100%;
	background-color: #0d0221;
}

#logo {
	margin-top: -570px;
}

#logo img {
	border-radius: 150px;
	box-shadow: -3px 3px #fd1d53;
}

#logo p {
	font-family: s;
	color: #f9c80e;
	font-size: 3em;
	text-shadow: -2px 2px #fd1d53;
	margin-left: 10.3em;
}

a img {
	padding: 15px;
	border-radius: 50px;
	background-color: #f9c80e;
	box-shadow: -2px 2px #fd1d53;
}

#line {
	margin: auto;
	margin-top: 25px;
	height: 1px;
	width: 400px;
	background-color: white;
	opacity: 0.1;
}

#socmed i {
	margin-top: -7px;
	padding: 6px;
	font-size: 3.3em; 
	color: #f9c80e;
	text-shadow: -2px 2px #fd1d53;
}

#profile {
	margin-top: -10px;
	padding-top: 100px;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to bottom, #0d0221, #cc5333);
	margin-bottom: 6em;
}

#extdta {
	font-family: s;
	font-size: 2em; 
	color: #f9c80e;
	background-color: #0d0221;
	box-shadow: -2px 2px #fd1d53;
	border-radius: 40px;
	padding: 10px;
}

#content {
	height: 33em;
	width: 45em;
	color: #f9c80e;
	background-color: #0d0221;
	box-shadow: -8px 8px #fd1d53;
	border-radius: 4px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.title {
	height: 3.3em;
	width: 45em;
	border-radius: 4px;
	background-color: #f9c80e;
}

.title h1 {
	font-family: s;
	color: #0d0221;
	text-shadow: -1px 1px white;
}

.info p {
	padding: 1em;
	font-family: po;
	font-size: 1.2em;
	text-align: justify;
	margin-bottom: 1px;
}

.info h5 {
	margin-top: 15px;
	margin-left: 20px;
	font-family: po;
	font-size: 1.5em;
	text-align: justify;
	letter-spacing: 2px;
}

li {
	font-family: po;
	font-size: 1.2em;
	text-align: justify;
}

#dayandnight {
	height: 100%;
	width: 100%;
	background-color: #cc5333;
	padding-top: 100px;
	border: 4em solid #0d0221;
}

#dayandnighttitle {
	margin-bottom: 2em;
	font-family: s;
	font-size: 2em; 
	color: #f9c80e;
	background-color: #0d0221;
	box-shadow: -2px 2px #fd1d53;
	border-radius: 40px;
	padding: 10px;
	margin-top: -20px;
	width: 15em;
	text-align: center;
}

#dncontent {
	margin-top: -2em;
	height: 25em;
	width: 28em;
	color: #f9c80e;
	background-color: #0d0221;
	box-shadow: -8px 8px #fd1d53;
	border-radius: 4px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#dntitle {
	height: 3.3em;
	width: 45em;
	border-radius: 4px;
	background-color: #f9c80e;
}

#dntitle h1 {
	font-family: s;
	color: #0d0221;
	text-shadow: -1px 1px white;
}

.iframecontainer {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}

.iframecontainer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#logos {
	height: 100%;
	width: 100%;
	padding-top: 100px;
	background-image: linear-gradient(to bottom, #cc5333, #0d0221);
}

#inventory {
	margin-bottom: 1em;
	font-family: s;
	font-size: 2em; 
	color: #f9c80e;
	background-color: #0d0221;
	box-shadow: -2px 2px #fd1d53;
	border-radius: 40px;
	padding: 10px;
	width: 15em;
	text-align: center;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    margin-top: 2em;
}

.carousel-caption p {
	font-family: s;
	font-size: 2em;
	background-color: #f9c80e;
	box-shadow: 0px 4px #fd1d53;
	color: #0d0221;
}

.carousel-indicators, .carousel-control-prev, .carousel-control-next {
	opacity: 0.1;
}

#contact {
	height: 50%;
	width: 100%;
	background-color: #0d0221;
}